In [1]:
import pandas as pd
import os

C:\Users\sjh96\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
GDP_df=pd.read_csv('D:/이직준비공부/AI/project_1/data/경제지표_데이터/GDP_2013_2022.csv',encoding='ms949')
interset_rate_df=pd.read_csv('D:/이직준비공부/AI/project_1/data/경제지표_데이터/한국은행 기준금리 및 여수신금리_17192537.csv')
exchage_rate_df=pd.read_csv('D:/이직준비공부/AI/project_1/data/경제지표_데이터/환율.csv')

kosdex=pd.read_csv('D:/이직준비공부/AI/project_1/data/주가_데이터/KOSDEX.csv')

sm_chart=pd.read_csv('D:/이직준비공부/AI/project_1/data/재무제표_통합/SM_재무제표.csv')
jyp_chart=pd.read_csv('D:/이직준비공부/AI/project_1/data/재무제표_통합/JYP_재무제표.csv')
yg_chart=pd.read_csv('D:/이직준비공부/AI/project_1/data/재무제표_통합/YG_재무제표.csv')

In [3]:
sm_stock=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/주가/SM_ent.csv')
jyp_stock=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/주가/JYP_ent.csv')
yg_stock=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/주가/YG_ent.csv')

In [4]:
GDP_df

,계정항목별,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"국내총생산(명목, 원화표시) (십억원)",1500819.100,1562928.900,1658020.4,1740779.600,1835698.200,1898192.600,1924498.100,1940726.200,2071658.0,2150575.8
1,"국내총생산(명목, 달러표시) (억달러)",13705.600,14839.500,14653.4,15000.300,16233.100,17251.600,16510.100,16446.100,18102.3,16643.3
2,"국민총소득(명목, 원화표시) (십억원)",1510384.900,1570493.300,1663206.6,1747143.500,1843180.900,1905837.500,1941107.900,1957669.900,2094721.3,2178875.7
3,"국민총소득(명목, 달러표시) (억달러)",13793.000,14911.400,14699.3,15055.100,16299.200,17321.100,16652.600,16589.700,18303.8,16862.3
4,요소비용국민소득(명목) (십억원),1086725.100,1128904.100,1196864.4,1256956.700,1326542.800,1364946.000,1374935.000,1365736.500,1450859.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...
91,총수입 (%),47.900,44.100,37.4,34.800,37.500,38.900,37.900,33.900,39.6,49.7
92,(재화) (%),39.000,35.300,28.8,26.200,28.600,29.800,28.600,26.300,31.4,40.2
93,(서비스) (%),7.400,7.200,7.3,7.100,7.500,7.300,7.500,6.100,6.6,7.7
94,GDP 디플레이터 (2015=100),96.042,96.913,100.0,101.986,104.253,104.756,103.877,105.502,108.137,109.453
95,(등락률) (%),1.000,0.900,3.2,2.000,2.200,0.500,-0.800,1.600,2.5,1.2

In [13]:
# 각 기업별 재무제표 데이터 경로 추출
data_dir_path='D:/이직준비공부/AI/project_1/data/재무제표'
sm_list=[]
jyp_list=[]
yg_list=[]

for file in os.listdir(data_dir_path):

    if file.startswith('[에스엠]'):
        sm_list.append(os.path.join(data_dir_path,file))
        
    elif file.startswith('[JYP Ent]'):
        jyp_list.append(os.path.join(data_dir_path,file))
        
    else:
        yg_list.append(os.path.join(data_dir_path,file))

In [7]:
for i,path in enumerate(yg_list):
    # 각 엑셀 별 데이터프레임 생성
    globals()["yg_df_{}".format(i)]=pd.read_excel(path,sheet_name='재무상태표',header=6)
    
    # 항목에 대해 공백제거 처리
    globals()["yg_df_{}".format(i)][' ']=globals()["yg_df_{}".format(i)][' '].str.strip()
    
    # 필요 항목 추출
    drop_list=[i for i in globals()["yg_df_{}".format(i)][' '].values if i not in ['매출채권','재고자산','투자부동산','무형자산','자본금','이익잉여금']]
    
    globals()["yg_df_{}".format(i)].set_index(' ',inplace=True)
    
    globals()["yg_df_{}".format(i)].drop(drop_list,axis=0,inplace=True)

In [12]:
yg_df_8

             제 25 기        제 24 기        제 23 기

매출채권    36749945784   20935022711   12877374487
재고자산     9191588609    5210660822    5363297768
투자부동산    8702773338             0             0
무형자산     3117267988    3470453764    2638600805
자본금      9487676500    9382376500    9367476500
이익잉여금  173651986791  149571894119  125575850340

In [14]:
sm_stock

                날짜        종가        오픈        고가        저가        거래량   변동 %
0     2023- 03- 16  111600.0  112200.0  113900.0  111300.0   961000.0  -1.59
1     2023- 03- 15  113400.0  114600.0  116300.0  113400.0      320.0  -1.56
2     2023- 03- 14  115200.0  114400.0  118000.0  112500.0  2450000.0   1.86
3     2023- 03- 13  113100.0  134300.0  134300.0  111500.0      770.0 -23.48
4     2023- 03- 12  147800.0  147800.0  147800.0  147800.0        0.0   0.00
...            ...       ...       ...       ...       ...        ...    ...
2437  2014- 03- 20   47800.0   46550.0   49050.0   45800.0  1490000.0  -3.92
2438  2014- 03- 19   49750.0   51000.0   51300.0   49650.0   199280.0  -2.45
2439  2014- 03- 18   51000.0   50100.0   51100.0   49250.0   249080.0   2.00
2440  2014- 03- 17   50000.0   51500.0   51600.0   48550.0   517680.0  -3.29
2441  2014- 03- 14   51700.0   52100.0   53200.0   51700.0   214320.0  -2.82

[2442 rows x 7 columns]

In [15]:
GDP=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/경제지표/GDP.csv',index_col=0)
interest=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/경제지표/금리.csv',index_col=0)
exchage=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/경제지표/환율.csv',index_col=0)

sm_stock=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/주가/SM_ent.csv')
jyp_stock=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/주가/JYP_ent.csv')
yg_stock=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/주가/YG_ent.csv')

kosdex=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/주가/코스닥.csv')

sm_chart=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/재무제표/[SM Ent]재무제표.csv',index_col=0)
jyp_chart=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/재무제표/[JYP Ent]재무제표.csv',index_col=0)
yg_chart=pd.read_csv('D:/이직준비공부/AI/project_1/data/전처리_완료_데이터/재무제표/[YG Ent]재무제표.csv',index_col=0)

In [16]:
sm_stock

                날짜        종가        오픈        고가        저가        거래량   변동 %
0     2023- 03- 16  111600.0  112200.0  113900.0  111300.0   961000.0  -1.59
1     2023- 03- 15  113400.0  114600.0  116300.0  113400.0      320.0  -1.56
2     2023- 03- 14  115200.0  114400.0  118000.0  112500.0  2450000.0   1.86
3     2023- 03- 13  113100.0  134300.0  134300.0  111500.0      770.0 -23.48
4     2023- 03- 12  147800.0  147800.0  147800.0  147800.0        0.0   0.00
...            ...       ...       ...       ...       ...        ...    ...
2437  2014- 03- 20   47800.0   46550.0   49050.0   45800.0  1490000.0  -3.92
2438  2014- 03- 19   49750.0   51000.0   51300.0   49650.0   199280.0  -2.45
2439  2014- 03- 18   51000.0   50100.0   51100.0   49250.0   249080.0   2.00
2440  2014- 03- 17   50000.0   51500.0   51600.0   48550.0   517680.0  -3.29
2441  2014- 03- 14   51700.0   52100.0   53200.0   51700.0   214320.0  -2.82

[2442 rows x 7 columns]

In [17]:
sm_chart

,매출채권,재고자산,무형자산,자본금,이익잉여금,투자부동산
2013,5.396531e+10,4.154522e+09,9.163836e+09,1.032413e+10,9.900949e+10,NaN
2014,4.705637e+10,4.189388e+09,1.076031e+10,1.032413e+10,1.009697e+11,NaN
2015,4.821870e+10,4.790322e+09,1.463232e+10,1.041115e+10,1.051668e+11,2.486137e+10
2016,3.486720e+10,4.615566e+09,1.158045e+10,1.087783e+10,1.102635e+11,2.633423e+10
2017,6.538758e+10,3.991998e+09,1.161388e+10,1.087783e+10,1.276515e+11,2.733428e+10
2018,7.447511e+10,4.433124e+09,1.176118e+10,1.151358e+10,1.497666e+11,2.793983e+10
2019,9.372976e+10,6.259888e+09,9.868284e+09,1.172350e+10,1.615805e+11,3.020078e+10
2020,8.219776e+10,2.340540e+09,9.874666e+09,1.172625e+10,1.322815e+11,3.313088e+10
2021,6.401738e+10,3.954703e+09,8.660320e+09,1.187295e+10,1.997088e+11,1.796251e+10